.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 8px;
}

/*atseviski redageju kartiti, border color, lai lēni transformejas
 */
.grid_item {
    background-color: rgba(255, 255, 255);
    border: 8px solid #83aaca;
    padding: 20px;
    font-size: 30px;
    image-orientation: left;
    display: flex;
    transition: transform 0.5s, box-shadow 0.5s;
}

.first{
    display: grid;
    padding: 10px;
    font-size: medium;
}

button {
    color: #000000;
    background-color: #83aaca;
    padding: 5px 10px;
    text-align: center;
    font-size: 16px;
    margin: 4px 3px;
    cursor: pointer;
}
  
button:hover {
    background-color: rgb(224, 110, 110);
}


.grid_item:hover {
    transform: translateY(15px);
    box-shadow: 2px 10px 18px rgb(84, 201, 236)
}
