/*adding background color*/
body {
  background-color: #FFF8F3;
}

/*redigeju virsrakstu, krasa un izvietojums*/
#virsraksts {
    color: #405D72;
    text-align: center;
}

/*links to the center*/
nav{
  text-align: center;
}

/*links to the right*/
footer{
  text-align: right;
}

.nav {
  background-color: rgb(255, 255, 255); 
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

h2 {
  color: rgb(0, 40, 173);
}

h3 {
  color: rgb(0, 40, 173);
}

p {
  color: #405D72;
  font-size : 18px;
}

li {
  color: #405D72;
  font-size : 18px;
}


/*navigacija (izvelne ausha galvenaja lapa) itka "pazud" 
kad uzved peliti
 */
.nav:hover {
  background-color: rgb(177, 215, 228);
}

.nav a {
  text-decoration: none;
  color: rgb(0, 40, 173);
  padding: 10px;
  position: relative;
  transition: color 0.3s ease;
}

.nav a i {
  margin-right: 6px; /* Spacing between icon and text */
}


/* Dropdown styles */
.nav {
  list-style-type: none;
  padding: 0;
}

.nav li {
  position: relative; /* Set parent li to relative */
  display: inline-block; /* For horizontal layout */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-container {
  display : none;
  position: absolute; /* dont move */
  background-color: rgb(177, 215, 228);
  min-width: 155px;
  box-shadow: 0px 8px 16px #83aaca;
  padding: 12px;
}

.dropdown-container a {
  color: rgb(0, 40, 173);
  padding : 12px 16px;
  display: block;
}

.dropdown-container a:hover {
  background-color: rgb(124, 155, 173);
}

.dropdown:hover .dropdown-container {
  display: block;
}

.main-content{
  border: 5px solid #405D72;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 7%;
  text-align: center;
  border-radius: 12px;
}